// .translate-section {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 1270px;
//   padding: 0 10px;
//   display: flex;
//   align-items: center;
//   opacity: 0.96;

//   .traduccion-entrada {
//     width: 49%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     background-color: #222433;
//     border-radius: 20px;
//     padding: 20px;

//     .lenguajes {
//       width: 100%;
//       display: flex;
//       align-items: center;

//       .deteccion-lenguaje {
//         border-radius: 10px;
//         padding: 4px 6px;
//         cursor: pointer;

//         p {
//           line-height: 1.2;
//           margin: 0;
//           color: var(--color-text);
//           font-weight: 700;
//         }
//       }

//       .lenguajes-disponibles {
//         display: flex;
//         margin: 0 0 0 6px;

//         .len {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           cursor: pointer;
//           border-radius: 10px;
//           padding: 4px 6px;
//           margin: 0 14px;

//           p {
//             font-weight: 600;
//             margin: 0;
//           }
//         }

//         .len-more {
//           &:hover {
//             transition: 0.2s ease-in-out;
//             background-color: var(--color-text);

//             p {
//               transition: 0.2s ease-in-out;
//               color: white !important;
//             }
//           }
//         }

//         select {
//           color: white;
//           background-color: #4d5261;
//           border: none;
//           font-weight: 600;
//           max-width: 120px;

//           option {
//             border: none;
//             border-radius: 6px;
//             padding: 5px;
//             background-color: #4d5261;
//             outline: none;
//             font-weight: 600;
//           }
//         }
//       }
//     }

//     .entrada {
//       width: 100%;
//       margin: 16px 0;
//       border-top: solid 0.2px var(--color-text);
//       padding: 14px 0;

//       .entrada-texto {
//         width: 100%;
//         padding: 0 8px;
//         border: none;
//         background-color: #222433;
//         color: white;
//         font-weight: 600;
//         resize: vertical;
//         outline: none;
//         height: 180px;

//         &:focus {
//           outline: none;
//           border: transparent;
//         }
//       }
//     }

//     .botones {
//       width: 100%;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;

//       .sonido-copiar {
//         display: flex;
//         position: relative;

//         .icono {
//           border-radius: 10px;
//           border: 1.2px solid var(--color-text);
//           padding: 2px 6px;
//           cursor: pointer;

//           .icon {
//             color: var(--color-text);
//             width: 18px;
//             height: 18px;
//           }

//           &:hover {
//             .icon {
//               transition: 0.2s ease-in-out;
//               color: white;
//             }
//           }
//         }

//         .informacion-icono {
//           position: absolute;
//           background-color: black;
//           padding: 2px 6px;
//           border-radius: 6px;
//           transform: translateY(6px);
//           user-select: none;

//           p {
//             margin: 0;
//             color: white;
//             font-weight: 600;
//             font-size: 14px;
//           }
//         }

//         .icono-copy {
//           margin-left: 6px;
//         }
//       }

//       .traducir {
//         .trad {
//           background-color: #3762e5;
//           padding: 4px 12px;
//           border-radius: 20px;
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           cursor: pointer;

//           .icono {
//             margin: 0 6px 0 0px;

//             .icon {
//               color: white;
//               width: 18px;
//               height: 18px;
//             }
//           }

//           p {
//             margin: 0;
//             font-weight: 600;
//           }

//           &:hover {
//             transition: 0.2s ease-in-out;
//             background-image: linear-gradient(
//               to right,
//               #2f80ed,
//               #3762e5,
//               #2f80ed
//             );
//           }
//         }
//       }
//     }
//   }
// }

// @media (min-width: 1024px) and (max-width: 1283px) {
//   .translate-section {
//     width: 1024px;

//     .traduccion-entrada {
//       .lenguajes {
//         .lenguajes-disponibles {
//           .len-lenguaje-fr {
//             display: none;
//           }
//         }
//       }
//     }
//   }
// }

// @media (min-width: 720px) and (max-width: 1023px) {
//   .translate-section {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     width: 100%;
//     padding: 0 10px;
//     display: flex;
//     align-items: center;
//     opacity: 0.96;

//     .traduccion-entrada {
//       width: 98%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       padding: 20px;
//       margin: 0 0 20px 0;

//       .lenguajes {
//         width: 100%;
//         display: flex;

//         .deteccion-lenguaje {
//           padding: 4px 6px;

//           p {
//             font-weight: 700;
//           }
//         }

//         .lenguajes-disponibles {
//           display: flex;
//           margin: 0 0 0 6px;

//           .len {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: 4px 6px;
//             margin: 0 14px;

//             p {
//             }
//           }

//           .len-more {
//           }

//           select {
//             max-width: 120px;

//             option {
//               padding: 5px;
//             }
//           }
//         }
//       }

//       .entrada {
//         width: 100%;
//         margin: 16px 0;
//         border-top: solid 0.2px var(--color-text);
//         padding: 14px 0;

//         .entrada-texto {
//           width: 100%;
//           padding: 0 8px;
//           height: 180px;
//         }
//       }

//       .botones {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .sonido-copiar {
//           display: flex;
//           position: relative;

//           .icono {
//             border: 1.2px solid var(--color-text);
//             padding: 2px 6px;

//             .icon {
//               width: 18px;
//               height: 18px;
//             }
//           }

//           .informacion-icono {
//             position: absolute;
//             padding: 2px 6px;
//             border-radius: 6px;
//             transform: translateY(6px);

//             p {
//               font-size: 14px;
//             }
//           }

//           .icono-copy {
//             margin-left: 6px;
//           }
//         }

//         .traducir {
//           .trad {
//             padding: 4px 12px;
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             .icono {
//               margin: 0 6px 0 0px;

//               .icon {
//                 width: 18px;
//                 height: 18px;
//               }
//             }

//             p {
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 719px) {
//   .translate-section {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     width: 100%;
//     padding: 0 3%;
//     display: flex;
//     align-items: center;
//     opacity: 0.96;

//     .traduccion-entrada {
//       width: 98%;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       padding: 20px;
//       margin: 0 0 10px 0;

//       .lenguajes {
//         width: 100%;
//         display: flex;

//         .deteccion-lenguaje {
//           padding: 4px 6px;

//           p {
//             font-weight: 700;
//           }
//         }

//         .lenguajes-disponibles {
//           display: flex;
//           margin: 0 0 0 6px;

//           .len {
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             padding: 4px 6px;
//             margin: 0 6px;

//             p {
//             }
//           }

//           .len-more {
//           }

//           select {
//             max-width: 120px;

//             option {
//               padding: 5px;
//             }
//           }

//           .len-lenguaje {
//             display: none;
//           }
//         }
//       }

//       .entrada {
//         width: 100%;
//         margin: 16px 0;
//         border-top: solid 0.2px var(--color-text);
//         padding: 14px 0;

//         .entrada-texto {
//           width: 100%;
//           padding: 0 8px;
//           height: 100px;
//         }
//       }

//       .botones {
//         width: 100%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .sonido-copiar {
//           display: flex;
//           position: relative;

//           .icono {
//             border: 1.2px solid var(--color-text);
//             padding: 2px 6px;

//             .icon {
//               width: 18px;
//               height: 18px;
//             }
//           }

//           .informacion-icono {
//             position: absolute;
//             padding: 2px 6px;
//             border-radius: 6px;
//             transform: translateY(6px);

//             p {
//               font-size: 14px;
//             }
//           }

//           .icono-copy {
//             margin-left: 6px;
//           }
//         }

//         .traducir {
//           .trad {
//             padding: 4px 12px;
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             .icono {
//               margin: 0 6px 0 0px;

//               .icon {
//                 width: 18px;
//                 height: 18px;
//               }
//             }

//             p {
//             }
//           }
//         }
//       }
//     }
//   }
// }

// @media (max-width: 479px) {
//   .translate-section {
//     .traduccion-entrada {
//       .lenguajes {
//         .lenguajes-disponibles {
//           .len-mobile-lenguaje {
//             display: none !important;
//           }
//         }
//       }

//       .botones {
//         .sonido-copiar {
//           .informacion-icono {
//             display: none !important;
//           }
//         }
//       }
//     }
//   }
// }

$bp-md-max: 1283px;
$bp-md-min: 1024px;

$bp-sm-max: 1023px;
$bp-sm-min: 720px;

$bp-xm-max: 719px;
$bp-xm-min: 479px;

$bp-xs: 400px;

.translate-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1270px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  opacity: 0.96;

  .traduccion-entrada {
    width: 49%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222433;
    border-radius: 20px;
    padding: 20px;

    .lenguajes {
      width: 100%;
      display: flex;
      align-items: center;

      .deteccion-lenguaje {
        border-radius: 10px;
        padding: 4px 6px;
        cursor: pointer;

        p {
          line-height: 1.2;
          margin: 0;
          color: var(--color-text);
          font-weight: 700;
        }
      }

      .lenguajes-disponibles {
        display: flex;
        margin: 0 0 0 6px;

        .len {
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          border-radius: 10px;
          padding: 4px 6px;
          margin: 0 14px;

          p {
            font-weight: 600;
            margin: 0;
          }
        }

        .len-more {
          &:hover {
            transition: 0.2s ease-in-out;
            background-color: var(--color-text);

            p {
              transition: 0.2s ease-in-out;
              color: white !important;
            }
          }
        }

        select {
          color: white;
          background-color: #4d5261;
          border: none;
          font-weight: 600;
          max-width: 120px;

          option {
            border: none;
            border-radius: 6px;
            padding: 5px;
            background-color: #4d5261;
            outline: none;
            font-weight: 600;
          }
        }
      }
    }

    .entrada {
      width: 100%;
      margin: 16px 0;
      border-top: solid 0.2px var(--color-text);
      padding: 14px 0;

      .entrada-texto {
        width: 100%;
        padding: 0 8px;
        border: none;
        background-color: #222433;
        color: white;
        font-weight: 600;
        resize: vertical;
        outline: none;
        height: 180px;

        &:focus {
          outline: none;
          border: transparent;
        }
      }
    }

    .botones {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .sonido-copiar {
        display: flex;
        position: relative;

        .icono {
          border-radius: 10px;
          border: 1.2px solid var(--color-text);
          padding: 2px 6px;
          cursor: pointer;

          .icon {
            color: var(--color-text);
            width: 18px;
            height: 18px;
          }

          &:hover {
            .icon {
              transition: 0.2s ease-in-out;
              color: white;
            }
          }
        }

        .informacion-icono {
          position: absolute;
          background-color: black;
          padding: 2px 6px;
          border-radius: 6px;
          transform: translateY(6px);
          user-select: none;

          p {
            margin: 0;
            color: white;
            font-weight: 600;
            font-size: 14px;
          }
        }

        .icono-copy {
          margin-left: 6px;
        }
      }

      .traducir {
        .trad {
          background-color: #3762e5;
          padding: 4px 12px;
          border-radius: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .icono {
            margin: 0 6px 0 0px;

            .icon {
              color: white;
              width: 18px;
              height: 18px;
            }
          }

          p {
            margin: 0;
            font-weight: 600;
          }

          &:hover {
            transition: 0.2s ease-in-out;
            background-image: linear-gradient(
              to right,
              #2f80ed,
              #3762e5,
              #2f80ed
            );
          }
        }
      }
    }
  }
}

@media (min-width: $bp-md-min) and (max-width: $bp-md-max) {
  .translate-section {
    width: 1024px;

    .traduccion-entrada {
      .lenguajes {
        .lenguajes-disponibles {
          .len-lenguaje-fr {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: $bp-sm-min) and (max-width: $bp-sm-max) {
  .translate-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    opacity: 0.96;

    .traduccion-entrada {
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 0 0 20px 0;

      .lenguajes {
        width: 100%;
        display: flex;

        .deteccion-lenguaje {
          padding: 4px 6px;

          p {
            font-weight: 700;
          }
        }

        .lenguajes-disponibles {
          display: flex;
          margin: 0 0 0 6px;

          .len {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 6px;
            margin: 0 14px;
          }

          select {
            max-width: 120px;

            option {
              padding: 5px;
            }
          }
        }
      }

      .entrada {
        width: 100%;
        margin: 16px 0;
        border-top: solid 0.2px var(--color-text);
        padding: 14px 0;

        .entrada-texto {
          width: 100%;
          padding: 0 8px;
          height: 180px;
        }
      }

      .botones {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sonido-copiar {
          display: flex;
          position: relative;

          .icono {
            border: 1.2px solid var(--color-text);
            padding: 2px 6px;

            .icon {
              width: 18px;
              height: 18px;
            }
          }

          .informacion-icono {
            position: absolute;
            padding: 2px 6px;
            border-radius: 6px;
            transform: translateY(6px);

            p {
              font-size: 14px;
            }
          }

          .icono-copy {
            margin-left: 6px;
          }
        }

        .traducir {
          .trad {
            padding: 4px 12px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icono {
              margin: 0 6px 0 0px;

              .icon {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $bp-xm-max) {
  .translate-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 0 3%;
    display: flex;
    align-items: center;
    opacity: 0.96;

    .traduccion-entrada {
      width: 98%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      margin: 0 0 10px 0;

      .lenguajes {
        width: 100%;
        display: flex;

        .deteccion-lenguaje {
          padding: 4px 6px;

          p {
            font-weight: 700;
          }
        }

        .lenguajes-disponibles {
          display: flex;
          margin: 0 0 0 6px;

          .len {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 6px;
            margin: 0 6px;

            p {
            }
          }

          .len-more {
          }

          select {
            max-width: 120px;

            option {
              padding: 5px;
            }
          }

          .len-lenguaje {
            display: none;
          }
        }
      }

      .entrada {
        width: 100%;
        margin: 16px 0;
        border-top: solid 0.2px var(--color-text);
        padding: 14px 0;

        .entrada-texto {
          width: 100%;
          padding: 0 8px;
          height: 100px;
        }
      }

      .botones {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sonido-copiar {
          display: flex;
          position: relative;

          .icono {
            border: 1.2px solid var(--color-text);
            padding: 2px 6px;

            .icon {
              width: 18px;
              height: 18px;
            }
          }

          .informacion-icono {
            position: absolute;
            padding: 2px 6px;
            border-radius: 6px;
            transform: translateY(6px);

            p {
              font-size: 14px;
            }
          }

          .icono-copy {
            margin-left: 6px;
          }
        }

        .traducir {
          .trad {
            padding: 4px 12px;
            display: flex;
            justify-content: center;
            align-items: center;

            .icono {
              margin: 0 6px 0 0px;

              .icon {
                width: 18px;
                height: 18px;
              }
            }

            p {
            }
          }
        }
      }
    }
  }
}

@media (max-width: $bp-xm-min) {
  .translate-section {
    .traduccion-entrada {
      .lenguajes {
        .lenguajes-disponibles {
          .len-mobile-lenguaje {
            display: none !important;
          }
        }
      }

      .botones {
        .sonido-copiar {
          .informacion-icono {
            display: none !important;
          }
        }
      }
    }
  }
}
